@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    color: #ffffff;
  }

  .volume{
    position: absolute;
    scale: 8%;
    cursor: pointer;
    border-radius: 100%;
    padding: 0rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 70vw;
    margin-top: -20vw;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    }
  
  .container{
    width: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65%,-50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.75s ease-in-out;
  }

  .container.active{
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.75s ease-in-out;
  }

  input[type="range"]{
    width: 85%;
    -webkit-appearance:none;
    height: 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    background-color: rgba(0, 0, 0, 0.85);
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  #number{
    background-color: rgba(0, 0, 0, 0.85);
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 3px;
    transform: rotate(90deg);
    letter-spacing: 1.2px;
  }

  #number:before{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.85);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -9px;
  }

  .help{
  position: absolute;
  scale: 8%;
  cursor: pointer;
  border-radius: 100%;
  padding: 0rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 74vw;
  margin-top: -20vw;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  }

  .close.active{
    opacity: 1;
    pointer-events: none;
  }

  .ReadDesc {
    position: absolute;
    margin-top: 22vh;
    margin-left: 40.5vw;
    font-size: 1.75rem;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .ReadDesc.active, .WriteDesc.active{
    transition: opacity 0.5s ease-in-out;
  }

  .ReadDesc.activer, .WriteDesc.activer{
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }

  .WriteDesc {
    position: absolute;
    margin-top: -13vh;
    margin-left: 66.5vw;
    font-size: 1.75rem;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .bg, .bgletter{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }

  .bgletter{
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

.open {
  opacity: 0;
  margin-top: 60vh;
  margin-left: 38.55vw;
  position: absolute;
  transform: scale();
  transition: opacity 0.1s ease-in-out;
}

.take {
  opacity: 0;
  margin-top: 39vh;
  margin-left: 54.5vw;
  position: absolute;
  transform: scale();
  transition: opacity 0.1s ease-in-out;
}

.open:hover,
.take:hover {
  opacity: 1;
  cursor:pointer;
}

.wrapper {
  pointer-events: none;
  opacity: 0;
  height: 200px;
  width: 300px;
  background-color: #3760C9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: opacity 1s ease-in-out;
}

.lid {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
  transition: opacity 1s ease-in-out;
}

/* Lid when closed */
.lid.one {
  opacity: 0;
  pointer-events: none;
  border-top: 100px solid #658ced;
  transform: rotateX(0deg);
  z-index: 3;
  transition: opacity 1s ease-in-out;
}

/* Lid when opened */
.lid.two {
  opacity: 0;
  pointer-events: none;
  border-top: 100px solid #3760C9;
  transform: rotateX(90deg);
  z-index: 1;
  transition: opacity 1s ease-in-out;
}

.envelope {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #C4DFF0;
  border-bottom: 100px solid #C4DFF0;
  border-left: 150px solid #a4d4f2;
  z-index: 3;
  transition: opacity 1s ease-in-out;
}

.letter {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  z-index: 2;
  transition: 0.5s;
  transition: opacity 1s ease-in-out;
}

.wrapper:hover .lid.one {
    transform: rotateX(90deg);
    transition: transform .5s 0s;
}

.wrapper.active:hover .lid.two {
    transform: rotateX(180deg);
    transition: transform .5s 0.35s;
}

.wrapper.active:hover .letter {
  transform: translateY(-50px);
  transition: transform .5s 0.50s;
}

.active{
  opacity: 1;
  pointer-events: all;
  transition: opacity 1s ease-in-out;
}

.lid.one.active, .lid.two.active{
  opacity: 1;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2.5rem;
  top: 35%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-radius: 100%;
  padding: 0rem 0rem;
  background-color: rgba(0, 0, 0, 0.2);
  scale: 200%;
  pointer-events: none;
}

.carousel-button:hover, .close:hover, .help:hover, .volume:hover {
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

.next,
.prev {
  width: 1em;
  height: 1em;
  padding: 0rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  margin: 3em 10.5em;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-button.next {
  opacity: 0;
  margin: 3em 21.5em;
  transition: opacity 1s ease-in-out;
}

.carousel-button.prev.active {
  opacity: 1;
  pointer-events: all;
}

.carousel-button.next.active {
  opacity: 1;
  pointer-events: all;
}

.open.active, .take.active, .volume.active, .help.active{
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.close{
  position: absolute;
  scale: 8%;
  cursor: pointer;
  border-radius: 100%;
  padding: 0rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 74vw;
  margin-top: -20vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

.close.active{
  opacity: 1;
  pointer-events: all;
}

.nextbutton, .prevbutton{
  position: absolute;
  width: 2vw;
  height: 4vh;
  margin-top: -1.75vh;
  margin-left: -1vw;
}

.activer.hide{
  opacity: 0;
}