@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    color: #ffffff;
  }

  .bg{
    width: 1324.5px;
    height: 619px;
    position: absolute;
    object-fit: cover;
    transform: scale();
  }

.open {
  opacity: 0;
  margin-top: 370px;
  margin-left: 510px;
  position: absolute;
  transform: scale();
}

.take {
  opacity: 0;
  margin-top: 247px;
  margin-left: 728px;
  position: absolute;
  transform: scale();
}

.open:hover,
.take:hover {
  opacity: 1;
  cursor:pointer;
}