@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    color: #ffffff;
  }

body,
html {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100%;
}

.open {
  opacity: 0;
  margin-top: 395px;
  margin-left: 510px;
}

.take {
  opacity: 0;
  margin-bottom: 123px;
  margin-left: -100px;
}

.open:hover,
.take:hover {
  opacity: 1;
}